.todoList {
  padding-top: 25px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.todoList input {
  width: 300px;
  padding: 5px 0;
}

.addNewItemButton {
  padding: 5px 15px;
  background-color: lightblue;
}

.showMore {
  padding: 5px 15px;
  text-transform: uppercase;
}

.showMore:hover {
  background-color: lightgreen;
}