nav {
  height: 50px;
  box-shadow: 3.9px 9.7px 10px rgba(0, 0, 0, 0.13),21px 53px 80px rgba(0, 0, 0, 0.053);
}

.navList {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: 0 auto;
  font-size: 20px;
}

.selected {
  border-bottom: 2px solid green;
}